@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="sidebar-container">

    <div class="sidebar-header">
        <img src="favicon.png" class="logo-img" alt="" srcset="">
        <span class="logo-text">Intranet GCM</span>
    </div>

    <nav class="menu">
        <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
            🏠 Home
        </NavLink>

        <NavLink class="menu-item" href="counter">
            ➕ Counter
        </NavLink>
        <!-- 🔐 LOGADO -->
        <AuthorizeView>
            <Authorized>
                
                <NavLink class="menu-item" href="perfil">
                    👤 Meu Perfil
                </NavLink>

                <NavLink class="menu-item" href="admin">
                    ⚙️ Administração
                </NavLink>

                <button class="menu-item" @onclick="Logout">
                    🚪 Sair
                </button>

            </Authorized>

            <NotAuthorized>
                <NavLink class="menu-item" href="/login">
                    🔑 Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>

</div>

@code
{
    async Task Logout()
    {
        bool logoutComSucesso = await JS.InvokeAsync<bool>("logout");
        if (logoutComSucesso)
        {
            Nav.NavigateTo("/", true);
        }
    }
}

