@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="sidebar-container">

    <div class="sidebar-header">
        <img src="favicon.png" class="logo-img" alt="" srcset="">
        <span class="logo-text">Intranet GCM</span>
    </div>

    <nav class="menu">
        <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
            🏠 Home
        </NavLink>
        <AuthorizeView Roles="Admin">
            <div class="menu-item" @onclick="ToggleAdmin">
                ⚙️ Administração @(adminAberto ? "▲" : "▼")
            </div>

            @if (adminAberto)
            {
                <div class="submenu @(adminAberto ? "open" : "")">
                    <NavLink class="menu-item" href="usuarios">
                        👥 Gerenciar Usuários
                    </NavLink>
                    <NavLink class="menu-item" href="roles">
                        🪛 Gerenciar Funções
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        <!-- 🔐 LOGADO -->
        <AuthorizeView>
            <Authorized>
                
                <NavLink class="menu-item" @onclick="AcessarUsuario">
                    👤 Meu Perfil
                </NavLink>
                <form method="post" action="/logout">
                    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">
                        🚪 Sair
                    </Button>
                </form>

                

                
            </Authorized>

            <NotAuthorized>
                <NavLink class="menu-item" href="login">
                    🔑 Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>

</div>

@code
{
    async Task Logout()
    {
        Nav.NavigateTo("/logout", true);
    }

    bool adminAberto = false;

    void ToggleAdmin()
    {
        adminAberto = !adminAberto;
    }

    string? userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        }
    }

    async void AcessarUsuario()
    {
        if (!String.IsNullOrWhiteSpace(userId))
            Nav.NavigateTo($"/usuarios/{userId}");
    }
}

