@page "/login"
@using IntranetGCM.Models
@using Microsoft.AspNetCore.Identity
@using static System.Net.WebRequestMethods
@using System.Net.Http.Json
@inject IJSRuntime JS

@rendermode InteractiveServer
@inject UserManager<Usuario> UserManager

@inject SignInManager<Usuario> SignInManager
@inject NavigationManager Nav
@inject HttpClient Http

<div class="login-container">
    <h2>Login</h2>

    <input @bind="email" placeholder="Email" />
    <input @bind="senha" type="password" placeholder="Senha" />

    <button class="btn-primary" @onclick="Logar">Entrar</button>

    @if (!string.IsNullOrEmpty(erro))
    {
        <p class="erro">@erro</p>
    }
</div>

@code {
    string email = "admin@gcm.com";
    string senha = "Admin@123";
    string erro;

    private async Task Logar()
    {
        bool logouComSucesso = await JS.InvokeAsync<bool>("logar", "admin@gcm.com", "Admin@123");
        if (logouComSucesso)
        {
            Nav.NavigateTo("/",true);
        }
    }
}