@page "/login"
@using IntranetGCM.Models
@using System.Net.Http.Json

@rendermode InteractiveServer
@inject NavigationManager Nav
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject IHttpContextAccessor HttpContextAccessor
@inject ToastService toastService

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<h2>Login</h2>
<div class="card">
    <form method="post" action="/api/login" autocomplete="off">
        <input type="hidden" name="__RequestVerificationToken" value="@token" />
        <div class="form-group">
            <label>Email</label>
            <input class="input" name="email" value="@loginRequest.Email" />
        </div>

        <div class="form-group">
            <label>Senha</label>
            <PasswordInput name="password" @bind-Value="loginRequest.Password" />
        </div>

        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Login</Button>
    </form>
</div>

@code {
    string token = "";

    protected override void OnInitialized()
    {
        var tokens = Antiforgery.GetAndStoreTokens(HttpContextAccessor.HttpContext!);
        token = tokens.RequestToken!;
    }
    public LoginRequest loginRequest { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = new Uri(Nav.Uri);
            var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

            if (query.TryGetValue("erro", out var erroMsg))
            {
                var erro = erroMsg.ToString();

                toastService.Notify(new(ToastType.Danger, $"Erro: {erro}"));
            }
        }
    }
}